<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>enuoS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181329BA1D34B9DB00E6D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181329D01D34B9DB00E6D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181329DB1D34B9DB00E6D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
